.usa-layout-docs__sidenav,
.usa-layout-docs__main {
  width: auto;
}

// Set max-width to contain long H1 text
.usa-prose > h1 {
  max-width: 17em;
}

// Set max-width to contain long H2 text
.usa-prose > h2 {
  max-width: 19.5em;
}

// Set max-width to contain long H3 text
.usa-prose > h3 {
  max-width: 30em;
}

// Set max-width to contain long H4-H6 text
.usa-prose > h4, 
.usa-prose > h5,
.usa-prose > h6 {
  max-width: 40em;
}

// Set line-height to specify distance between lines of text
.usa-prose > h1,
.usa-prose > h2,
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  line-height: 1.5;
}

// Set property values for code block
pre {
  white-space: pre-wrap;
  max-width: 30em;
}