{% assign identifier = site.data.usa_identifier %}
<footer class="usa-footer" role="contentinfo">
<div class="usa-footer__secondary-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-footer__contact-links mobile-lg:grid-col-12">
        <div class="usa-footer grid-row">
          <div class="grid-col-auto">
            This project is maintained by <a class="usa-link" href="{{ identifier.org_secondary_url }}">{{identifier.org_secondary}}</a>
          </div>
        </div>
        <div class="usa-footer grid-row">
          <div class="grid-col-auto">
            Have questions or would like to contact us? Email us at <a class="usa-link" href="mailto:{{ identifier.site_email }}">{{ identifier.site_email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	{% include components/usa_identifier.html %}
</footer>

<div style="display: none">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol viewBox="0 0 24 24" id="svg-link" xmlns="http://www.w3.org/2000/svg"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></symbol>
  </svg>
</div>
