---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %} {% include styles.html %} {% if
    site.google_analytics_ua or site.dap_agency %} {% include analytics.html %}
    {% endif %}
    <style>
      .home .usa-hero {
        background: #046b99;
        margin-bottom: 2em;
        padding-top: 6em;
      }

      .home .usa-hero .usa-hero-callout {
        background: none;
        color: white;
        max-width: none;
        padding: 0;
      }

      .home .usa-hero .usa-hero-callout h2 {
        color: inherit;
        font-size: 1.8em;
        margin: 0;
      }

      .home main h2 {
        font-size: 1.25em;
        color: #404040;
      }
    </style>
  </head>
  <body class="{{ layout.class }} {{ page.class }} home">
    {% include skipnav.html %} {% include banner.html %}
    <section class="usa-hero">
      <div class="grid-container">
        <div class="usa-hero-callout usa-section-dark">
          <h2>
            18F User Experience Design Guide
          </h2>
        </div>
      </div>
    </section>

    <main id="main-content">
      <div class="grid-container">
        {{ content }}
      </div>
    </main>
    {% include footer.html %} {% include scripts.html %}
  </body>
</html>
